@tailwind base;
@tailwind components;
@tailwind utilities;


/* techcarousel animation */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


/* typing effect */

.typing-effect {
  display: inline;
  border-right: 2px solid currentColor;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(30, end), blink .75s step-end infinite;
}

@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  from, to { border-color: transparent; }
  50% { border-color: currentColor; }
}



  